In [5]:
import pandas as pd
df = pd.read_csv(r"D:\AI\Gear Data\eccentricity.csv")
df

,sensor1,sensor2,time_x,speedSet,load_value,gear_fault_desc
0,2.522315,2.431974,2023-05-03 20:31:39.000000,8.332031,0,eccentricity
1,2.523629,2.431317,2023-05-03 20:31:39.000200,8.332031,0,eccentricity
2,2.522644,2.428032,2023-05-03 20:31:39.000400,8.332031,0,eccentricity
3,2.521987,2.430660,2023-05-03 20:31:39.000600,8.332031,0,eccentricity
4,2.522808,2.430168,2023-05-03 20:31:39.000800,8.332031,0,eccentricity
...,...,...,...,...,...,...
149995,2.525272,2.451028,2023-05-03 20:29:39.999000,40.000000,80,eccentricity
149996,2.529542,2.442815,2023-05-03 20:29:39.999200,40.000000,80,eccentricity
149997,2.519851,2.447579,2023-05-03 20:29:39.999400,40.000000,80,eccentricity
149998,2.516073,2.431153,2023-05-03 20:29:39.999600,40.000000,80,eccentricity
149999,2.517059,2.442979,2023-05-03 20:29:39.999800,40.000000,80,eccentricity

In [9]:
df.head()

,sensor1,sensor2,time_x,speedSet,load_value,gear_fault_desc
0,2.522315,2.431974,2023-05-03 20:31:39.000000,8.332031,0,eccentricity
1,2.523629,2.431317,2023-05-03 20:31:39.000200,8.332031,0,eccentricity
2,2.522644,2.428032,2023-05-03 20:31:39.000400,8.332031,0,eccentricity
3,2.521987,2.430660,2023-05-03 20:31:39.000600,8.332031,0,eccentricity
4,2.522808,2.430168,2023-05-03 20:31:39.000800,8.332031,0,eccentricity

In [11]:
df.sample(n=10)

,sensor1,sensor2,time_x,speedSet,load_value,gear_fault_desc
64362,2.523958,2.428689,2023-05-03 20:20:02.872400,25.000000,0,eccentricity
87066,2.519194,2.429839,2023-05-03 20:22:07.413200,25.000000,80,eccentricity
7136,2.521330,2.431317,2023-05-03 20:31:40.427200,8.332031,0,eccentricity
30898,2.522479,2.430660,2023-05-03 20:34:18.179600,8.332031,80,eccentricity
13252,2.522151,2.432960,2023-05-03 20:31:41.650400,8.332031,0,eccentricity
47643,2.522808,2.432796,2023-05-03 20:34:21.528600,8.332031,80,eccentricity
6155,2.522315,2.430825,2023-05-03 20:31:40.231000,8.332031,0,eccentricity
28235,2.522479,2.434602,2023-05-03 20:34:17.647000,8.332031,80,eccentricity
123493,2.517387,2.436081,2023-05-03 20:28:09.698600,40.000000,0,eccentricity
36959,2.521987,2.433288,2023-05-03 20:34:19.391800,8.332031,80,eccentricity

In [13]:
df.describe()

             sensor1        sensor2       speedSet     load_value
count  150000.000000  150000.000000  150000.000000  150000.000000
mean        2.521244       2.430165      24.444010      40.000000
std         0.006252       0.006477      12.934413      40.000133
min         2.467454       2.380727       8.332031       0.000000
25%         2.518866       2.427375       8.332031       0.000000
50%         2.521822       2.430825      25.000000      40.000000
75%         2.523793       2.432796      40.000000      80.000000
max         2.564200       2.486836      40.000000      80.000000

In [25]:
df.set_index("speedSet", inplace= True)
df

                               time_x  load_value gear_fault_desc
speedSet
8.332031   2023-05-03 20:31:39.000000           0    eccentricity
8.332031   2023-05-03 20:31:39.000200           0    eccentricity
8.332031   2023-05-03 20:31:39.000400           0    eccentricity
8.332031   2023-05-03 20:31:39.000600           0    eccentricity
8.332031   2023-05-03 20:31:39.000800           0    eccentricity
...                               ...         ...             ...
40.000000  2023-05-03 20:29:39.999000          80    eccentricity
40.000000  2023-05-03 20:29:39.999200          80    eccentricity
40.000000  2023-05-03 20:29:39.999400          80    eccentricity
40.000000  2023-05-03 20:29:39.999600          80    eccentricity
40.000000  2023-05-03 20:29:39.999800          80    eccentricity

[150000 rows x 3 columns]

In [29]:
df.reset_index(inplace=True)
df

         speedSet                      time_x  load_value gear_fault_desc
0        8.332031  2023-05-03 20:31:39.000000           0    eccentricity
1        8.332031  2023-05-03 20:31:39.000200           0    eccentricity
2        8.332031  2023-05-03 20:31:39.000400           0    eccentricity
3        8.332031  2023-05-03 20:31:39.000600           0    eccentricity
4        8.332031  2023-05-03 20:31:39.000800           0    eccentricity
...           ...                         ...         ...             ...
149995  40.000000  2023-05-03 20:29:39.999000          80    eccentricity
149996  40.000000  2023-05-03 20:29:39.999200          80    eccentricity
149997  40.000000  2023-05-03 20:29:39.999400          80    eccentricity
149998  40.000000  2023-05-03 20:29:39.999600          80    eccentricity
149999  40.000000  2023-05-03 20:29:39.999800          80    eccentricity

[150000 rows x 4 columns]

In [31]:
df

         speedSet                      time_x  load_value gear_fault_desc
0        8.332031  2023-05-03 20:31:39.000000           0    eccentricity
1        8.332031  2023-05-03 20:31:39.000200           0    eccentricity
2        8.332031  2023-05-03 20:31:39.000400           0    eccentricity
3        8.332031  2023-05-03 20:31:39.000600           0    eccentricity
4        8.332031  2023-05-03 20:31:39.000800           0    eccentricity
...           ...                         ...         ...             ...
149995  40.000000  2023-05-03 20:29:39.999000          80    eccentricity
149996  40.000000  2023-05-03 20:29:39.999200          80    eccentricity
149997  40.000000  2023-05-03 20:29:39.999400          80    eccentricity
149998  40.000000  2023-05-03 20:29:39.999600          80    eccentricity
149999  40.000000  2023-05-03 20:29:39.999800          80    eccentricity

[150000 rows x 4 columns]

In [38]:
df.tail()

        speedSet                      time_x  load_value gear_fault_desc
149995      40.0  2023-05-03 20:29:39.999000          80    eccentricity
149996      40.0  2023-05-03 20:29:39.999200          80    eccentricity
149997      40.0  2023-05-03 20:29:39.999400          80    eccentricity
149998      40.0  2023-05-03 20:29:39.999600          80    eccentricity
149999      40.0  2023-05-03 20:29:39.999800          80    eccentricity

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   speedSet         150000 non-null  float64
 1   time_x           150000 non-null  object
 2   load_value       150000 non-null  int64
 3   gear_fault_desc  150000 non-null  object
dtypes: float64(1), int64(1), object(2)
memory usage: 4.6+ MB

In [44]:
df

         speedSet                      time_x  load_value gear_fault_desc
0        8.332031  2023-05-03 20:31:39.000000           0    eccentricity
1        8.332031  2023-05-03 20:31:39.000200           0    eccentricity
2        8.332031  2023-05-03 20:31:39.000400           0    eccentricity
3        8.332031  2023-05-03 20:31:39.000600           0    eccentricity
4        8.332031  2023-05-03 20:31:39.000800           0    eccentricity
...           ...                         ...         ...             ...
149995  40.000000  2023-05-03 20:29:39.999000          80    eccentricity
149996  40.000000  2023-05-03 20:29:39.999200          80    eccentricity
149997  40.000000  2023-05-03 20:29:39.999400          80    eccentricity
149998  40.000000  2023-05-03 20:29:39.999600          80    eccentricity
149999  40.000000  2023-05-03 20:29:39.999800          80    eccentricity

[150000 rows x 4 columns]

In [54]:
df.dropna(subset=["time_x"], inplace= True)
df

         speedSet                      time_x  load_value gear_fault_desc
0        8.332031  2023-05-03 20:31:39.000000           0    eccentricity
1        8.332031  2023-05-03 20:31:39.000200           0    eccentricity
2        8.332031  2023-05-03 20:31:39.000400           0    eccentricity
3        8.332031  2023-05-03 20:31:39.000600           0    eccentricity
4        8.332031  2023-05-03 20:31:39.000800           0    eccentricity
...           ...                         ...         ...             ...
149995  40.000000  2023-05-03 20:29:39.999000          80    eccentricity
149996  40.000000  2023-05-03 20:29:39.999200          80    eccentricity
149997  40.000000  2023-05-03 20:29:39.999400          80    eccentricity
149998  40.000000  2023-05-03 20:29:39.999600          80    eccentricity
149999  40.000000  2023-05-03 20:29:39.999800          80    eccentricity

[150000 rows x 4 columns]

In [56]:
df.head()

   speedSet                      time_x  load_value gear_fault_desc
0  8.332031  2023-05-03 20:31:39.000000           0    eccentricity
1  8.332031  2023-05-03 20:31:39.000200           0    eccentricity
2  8.332031  2023-05-03 20:31:39.000400           0    eccentricity
3  8.332031  2023-05-03 20:31:39.000600           0    eccentricity
4  8.332031  2023-05-03 20:31:39.000800           0    eccentricity

In [7]:
df = pd.read_csv(r"D:\AI\Gear Data\eccentricity.csv")
df

,sensor1,sensor2,time_x,speedSet,load_value,gear_fault_desc
0,2.522315,2.431974,2023-05-03 20:31:39.000000,8.332031,0,eccentricity
1,2.523629,2.431317,2023-05-03 20:31:39.000200,8.332031,0,eccentricity
2,2.522644,2.428032,2023-05-03 20:31:39.000400,8.332031,0,eccentricity
3,2.521987,2.430660,2023-05-03 20:31:39.000600,8.332031,0,eccentricity
4,2.522808,2.430168,2023-05-03 20:31:39.000800,8.332031,0,eccentricity
...,...,...,...,...,...,...
149995,2.525272,2.451028,2023-05-03 20:29:39.999000,40.000000,80,eccentricity
149996,2.529542,2.442815,2023-05-03 20:29:39.999200,40.000000,80,eccentricity
149997,2.519851,2.447579,2023-05-03 20:29:39.999400,40.000000,80,eccentricity
149998,2.516073,2.431153,2023-05-03 20:29:39.999600,40.000000,80,eccentricity
149999,2.517059,2.442979,2023-05-03 20:29:39.999800,40.000000,80,eccentricity

In [60]:
df.dropna(subset=["time_x"], inplace= True)
df

,sensor1,sensor2,time_x,speedSet,load_value,gear_fault_desc
0,2.522315,2.431974,2023-05-03 20:31:39.000000,8.332031,0,eccentricity
1,2.523629,2.431317,2023-05-03 20:31:39.000200,8.332031,0,eccentricity
2,2.522644,2.428032,2023-05-03 20:31:39.000400,8.332031,0,eccentricity
3,2.521987,2.430660,2023-05-03 20:31:39.000600,8.332031,0,eccentricity
4,2.522808,2.430168,2023-05-03 20:31:39.000800,8.332031,0,eccentricity
...,...,...,...,...,...,...
149995,2.525272,2.451028,2023-05-03 20:29:39.999000,40.000000,80,eccentricity
149996,2.529542,2.442815,2023-05-03 20:29:39.999200,40.000000,80,eccentricity
149997,2.519851,2.447579,2023-05-03 20:29:39.999400,40.000000,80,eccentricity
149998,2.516073,2.431153,2023-05-03 20:29:39.999600,40.000000,80,eccentricity
149999,2.517059,2.442979,2023-05-03 20:29:39.999800,40.000000,80,eccentricity

In [9]:
df.drop('time_x',axis=1,inplace=True)
df

         sensor1   sensor2   speedSet  load_value gear_fault_desc
0       2.522315  2.431974   8.332031           0    eccentricity
1       2.523629  2.431317   8.332031           0    eccentricity
2       2.522644  2.428032   8.332031           0    eccentricity
3       2.521987  2.430660   8.332031           0    eccentricity
4       2.522808  2.430168   8.332031           0    eccentricity
...          ...       ...        ...         ...             ...
149995  2.525272  2.451028  40.000000          80    eccentricity
149996  2.529542  2.442815  40.000000          80    eccentricity
149997  2.519851  2.447579  40.000000          80    eccentricity
149998  2.516073  2.431153  40.000000          80    eccentricity
149999  2.517059  2.442979  40.000000          80    eccentricity

[150000 rows x 5 columns]

In [11]:
df.to_csv("cleaned_data.csv", sep="\t")